/* Add your CSS styles here for Profile component */
div.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  